:root {
  --header-bg: #2e323f;
  --main-bg: #3b4050;
  --main-font: #6f737f;
  --headline: #fff;
  --accent: #a59678;
}

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: clamp(30px, 6vw, 90px);
}

p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 0.5em;
}

.montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-bold {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--main-bg);
  color: white;
  transition: opacity 250ms ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

header {
  background-color: var(--header-bg);
}

.row {
  display: flex;
}

header .row {
  justify-content: space-between;
  padding: 1em 1em;
  align-content: center;
}

nav {
  visibility: hidden;
  height: 0;
}

.nav__link--button {
  background-color: white;
  color: var(--header-bg);
  border-radius: 10px;
  padding: 0.2em 1em;
}

.nav--visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  visibility: visible;
}

.button {
  background-color: var(--accent);
  color: white;
  border-radius: 20px;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--main-bg);
  color: white;
  padding: 2em 2em;
}

.accent {
  color: var(--accent);
}

.hero__text {
  margin: 1em 0 1.5em 0;
}
